.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(19, 20, 19, 0.5);
    padding-top: 100px;
    
  }


  .modal-content {
    position: relative;
    border-radius: 7px;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%; 
    padding: 10px 20px;
  }

  .close {
    position: absolute;
    right: 0;
    top: -50px;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }

  .modal__image{
    border-radius: 7px;
    width: 200px;
    min-height: 300px;
    object-fit: fit;
}

.details {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.bio{
    display: flex;
    flex-direction: column;
    
}

.bio__status{
    color: #29C6CF;
    font-size: medium;
}

.modal__header{
    font-weight: bold;
    margin-bottom: 5px;
}