.card {
    width: 200px;
    display:flex;
    flex-direction: column;
    border-radius: 7px;
    border: black solid 1px;
    overflow: hidden;
}
.card__image{
    width: 100%;
}

.card_content{
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

.card_content__category{
    color: #29C6CF;
    font-size: x-small;
}

.card_content__title{
    font-weight: bold;
}

.card_content__author{
  color: gray;
  font-size: small;
}




